<link rel="stylesheet" href="/scripts/admin.css">
<div class="Admincont">
    <div class="buttons">
        <h1>Mesaj Atma</h1>
    <button id="toArac">Araç</button>
    <button id="toKonut">Konut</button>
    <button id="toIs">Is</button>
    <button id="toEsya">Esya</button>
    </div>
    <div class="ban">
        <h1>Ban Kısmı</h1>
        <label for="ban">Banlancak Id</label>
        <input type="text" id="banInput">
    </div>
</div>
<script src="/scripts/adminPanel.js"></script>