<html lang="tr">
<head>
  <meta charset="UTF-8">
  <title>Ödeme Başarılı</title>
</head>
<body>
  <h1>Ödemeniz başarılı!</h1>
  <p>Session ID: <%= sessionId %></p>
  <a href="/">Ana sayfaya dön</a>
</body>
</html>