<div class="container">
   <meta name="csrf-token" content="<%= csrfToken %>">
   <h2 class="baslik">Deposito Yükleme</h2>
   <div class="buton-grubu">
        <button class="odeme-btn" data-deposit="100">100 TL Yükle</button>
        <button class="odeme-btn" data-deposit="250">250 TL Yükle</button>
        <button class="odeme-btn"  data-deposit="500">500 TL Yükle</button>
        <button class="odeme-btn"  data-deposit="1000">1000 TL Yükle</button>
    </div>
</div>
</div>
 <script src="/scripts/paytr.js" defer></script>