<div class="container">
   <meta name="csrf-token" content="<%= csrfToken %>">
   <h2 class="baslik">Deposito Yükleme</h2>
   <div class="buton-grubu">
        <p>250000 TL'lik teklif sunmak için:</p><button class="odeme-btn" data-deposit="250">250 TL Yükle</button><br>
        <p>500000 TL'lik teklif sunmak için:</p><button class="odeme-btn"  data-deposit="500">500 TL Yükle</button><br>
        <p>1000000 TL'lik teklif sunmak için:</p><button class="odeme-btn"  data-deposit="1000">1000 TL Yükle</button><br>
        <p>2000000 TL'lik ve üstü teklif sunmak için:</p><button class="odeme-btn" data-deposit="2000">2000 TL Yükle</button><br>
    </div>
</div>
</div>
 <script src="/scripts/paytr.js" defer></script>