<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="/scripts/emailsrc.js" defer></script>
    <meta name="csrf-token" content="<%= csrfToken %>">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles/login.css">
    <title>Doğrulama</title>
</head>
<body>
   <div class="form-group">
        <div class="verification">
            <label for="verificationCode">Doğrulama Kodu (Loglardan Bak):</label>
            <input type="text" id="verificationCode" placeholder="Kodu buraya gir">
            
            <button id="btn" type="button">Doğrula</button>
            
            <p id="verifyMessage"></p>
        </div>
    </div>
</body>
<script>
</script>
</html>
