  <link rel="stylesheet" href="/styles/left.css">
      <input type="hidden" id="csrfToken" value="<%= csrfToken %>">
  <div id="anal" data-rutbe="<%= user.rutbe %>"></div>
  <div class="container " id="kategoriContainer">
      <div id="Ilan-bs">İlan Oluştur</div>
    <div id="anaKategoriler" >
      <div class="btn" data-kategori="konut">
        <div class="renk" id="s" ></div>
        <div class="txt">Konut</div>
      </div>
      <div class="btn" data-kategori="arac">
        <div class="renk" id="c"></div>
        <div class="txt">Araç</div>
      </div>
      <div class="btn" data-kategori="is">
        <div class="renk" id="a"></div>
        <div class="txt">İş</div>

      </div>
      <div class="btn" data-kategori="esya">
        <div class="renk"id="m" ></div>
        <div class="txt">Eşya</div>
      </div>
    </div>

     <div id="altKategorilerWrapper" class="alt-kategori-wrapper"></div>
     <div  id="ilerleDiv">
  <button id="ilerleBtn" >
    İlerle
  </button>
</div>

  </div>
  <input type="hidden" id="csrfToken" value="<%= csrfToken %>">

    

   