<link rel="stylesheet" href="/styles/password.css">
<form id="changeForm">

    <meta name="csrf-token" content="<%= csrfToken %>">

  <div class="mb-3">
    <label for="Ad" class="form-label">Ad:</label>
    <input id="Ad" name="Ad" type="text" required>
  </div>

  <div class="mb-3">
    <label for="Soyad" class="form-label">Soyad:</label>
    <input id="Soyad" name="Soyad" type="text" required>
  </div>

  <div class="mb-3">
    <label for="sifre1" class="form-label">Mevcut Şifre:</label>
    <input id="sifre1" name="sifre1" type="password" required>
  </div>

  <div class="mb-3">
    <label for="YeniSifre" class="form-label">Yeni Şifre:</label>
    <input id="YeniSifre" name="YeniSifre" type="password" required>
  </div>

  <div class="mb-3">
    <label for="YeniSifre2" class="form-label">Yeni Şifre Tekrar:</label>
    <input id="YeniSifre2" name="YeniSifre2" type="password" required>
  </div>

  <button class="btn" type="submit">Şifreyi Değiştir</button>
  <script src="/scripts/password.js" defer></script>
</form>
