<link rel="stylesheet" href="/styles/how.css">
<div class="ust">
    <div class="steps">
        <a href="/how-it-works" class="step ">
            <h2>Pre-Purchase Process</h2>
            <div>1</div>
        </a>
        <div class="dots"></div>
        <a href="" class="step active">
            <h2>Post Purchase Process</h2> 
            <div>2</div>
        </a>
    </div>
    <div class="header-caption">
        <h3>Post-Purchase Schedule</h3>
        <p>The post-purchase schedule presented on the following page offers the client a detailed action plan and subsequent steps in the car import process. It serves as a practical guide, simplifying the understanding of the entire procedure and enabling the tracking of progress in importing the desired vehicle.</p>
    
</div>
<div class="how-it-works-container">
    <div class="how-it-works-navbar">
        <a href="#step1" class="nav-link active" data-step="1"><h4>1</h4> <p>Vehicle Bid Accepted</p></a>
        <a href="#step2" class="nav-link" data-step="2"><h4>2</h4><p>Payment for Vehicle</p> </a>
        <a href="#step3" class="nav-link" data-step="3"><h4>3</h4><p> Payment Receipt Confirmation</p></a>
        <a href="#step4" class="nav-link" data-step="4"><h4>4</h4><p>Vehicle Transport Updates</p> </a>
        <a href="#step5" class="nav-link" data-step="5"><h4>5</h4><p>Shipping Terminal Photos</p> </a>
        <a href="#step6" class="nav-link" data-step="6"><h4>6</h4><p>Shipping the Vehicle to Europe</p> </a>
        <a href="#step7" class="nav-link" data-step="7"><h4>7</h4><p>Settlement of Transportation Costs</p> </a>
        <a href="#step8" class="nav-link" data-step="8"><h4>8</h4><p>Customs Clearance Form</p> </a>
        <a href="#step9" class="nav-link" data-step="9"><h4>9</h4><p>BidCars Commission Fee</p> </a>
        <a href="#step10" class="nav-link" data-step="10"><h4>10</h4><p>Customs Clearance Invoice</p> </a>
        <a href="#step11" class="nav-link" data-step="11"><h4>11</h4><p>Vehicle Pickup Notification</p> </a>
    </div>

    <div class="how-it-works-content">
        <div id="step1" class="content-item active">
            <h2>Vehicle Bid Accepted</h2>
            
            <p>Upon winning the vehicle and logging into the BidCars account, the auction status on the vehicle's page changes to “Vehicle Won”. This indicates the bid has been accepted, signifying vehicle purchase. Now, the client has a reason to celebrate - it's time to pop open a bottle of champagne!</p>
        </div>

        <div id="step2" class="content-item">
            <h2>Payment for Vehicle</h2>
            <p>After winning the auction, within a few hours, an SMS and an email with an attached screenshot from the auction house confirming the vehicle win for a specified amount are sent.</p>
            <p class="b">“You have won the 2015 Audi S3 #483982. Payment details have been sent to your email address. Please ensure timely payment.”</p>
            <p>The email includes the amount to be paid in USD (bid amount + auction fees), the transfer description, and an attachment with the account number, SWIFT number, bank address, etc., essential for making the transfer to the Copart/IAAI auction house.</p>

        </div>

        <div id="step3" class="content-item">
            <h2>Payment Receipt Confirmation</h2>
           
            <p>Once the funds are recorded in the auction house's account, an SMS confirming the receipt of payment is sent. The vehicle pickup request is automatically forwarded to the shipping company.</p>
            <p class="b">“We have recorded your payment for the 2015 Audi S3 and have arranged its pickup from the auction house.”</p>
        </div>
        <div id="step4" class="content-item">
            <h2>Vehicle Transport Updates</h2>
           
            <p>Under the "Transport" tab on the BidCars account, information is provided about:</p>
        <li>Pickup of the vehicle from the auction house,</li>
        <li>Delivery of the vehicle to the shipping terminal,</li>
        <li>Planned departure of the vehicle (ETD),</li>
        <li>Estimated time of arrival (ETA),</li>
        <li>Collection of the container from the port.</li>
        </div>
        <div id="step5" class="content-item active">
            <h2>Shipping Terminal Photos</h2>
            <p>Photographic documentation of the vehicle from the shipping terminal is available a few days after its arrival.</p>
        <p>Example link to the photos:</p>
        <li>list link</li>
        <p class="b">“Photos of the 2015 Audi S3 have been sent to your email address.”</p>
        </div>
        <div id="step6" class="content-item active">
            <h2>Shipping the Vehicle to Europe</h2>
            <p>In the "Transport" tab on the BidCars account, upon logging in, the vehicle's status is updated with information such as the departure and arrival dates, container number, and, if available, a map showing the location of the container ship.</p>
        </div>
        <div id="step7" class="content-item active">
            <h2>Settlement of Transportation Costs</h2>
            <p>Within a few days of shipping the vehicle to Europe, a statement of the trucking and freight costs is provided, along with transfer details. Payment for these services is made in USD to an account in the United States.</p>
        <p>PDF attachment with transfer details:</p>
        <li>Transportation Costs - https://bid.cars/wire_transport_en.pdf</li>
        <p class="b">“The transportation settlement for the 2015 Audi S3 has been sent to your email address. Please make the payment within 72 hours.”</p>
        </div>
        <div id="step8" class="content-item active">
            <h2>Customs Clearance Form</h2>
            <p>A few days before the vehicle's arrival in Europe, a customs clearance form is sent. This form allows entry of necessary data for customs clearance (clearance for private individuals or fiscal clearance for business operations), information about the vehicle's delivery, and details for shipping documents.</p>
        <p class="b">“The authorization for the customs clearance of the 2015 Audi S3 has been sent to your email address. Please complete the form within 3 days.”</p>
        </div>
        <div id="step9" class="content-item active">
            <h2>BidCars Commission Fee</h2>
            <p>A few days before the vehicle's arrival in Europe, information is sent with a link to pay the BidCars service commission. The commission can be paid through several available methods: instant bank transfer or credit card payment. Thanks to the collaboration with Stripe, convenience and speed of transaction are ensured.</p>
        <p class="b">“Your vehicle is on its way and will soon arrive at a port in Europe. The estimated arrival date is Monday, December 11, 2023. According to our schedule, please make a payment for our logistic service using the link below:

https://payments.bid.cars/en/fee/WAULC68E14A227038/482925780

Best regards, BidCars.”</p>
        </div>
        <div id="step10" class="content-item active">
            <h2>Customs Clearance Invoice</h2>
            <p>After customs clearance, an email is sent with an invoice to be paid in EUR. This payment is made directly to the customs agency's account.</p>
        <p class="b">“The customs clearance for the 2015 Audi S3 has been sent to your email address. Please make the payment within 72 hours.”</p>
        </div>
        <div id="step11" class="content-item active">
            <h2> Vehicle Pickup Notification</h2>
            <p>An SMS is sent with a notification for vehicle pickup, indicating that the logistics team has scheduled the collection of the vehicle from Rotterdam for a specific day.</p>
            <p>“The pickup of the 2015 Audi S3 from the Rotterdam port is scheduled for Friday (2023-12-16). A confirmation of pickup will be sent in a separate message. The pickup date is subject to change.”</p>
        </div>
    </div>
</div><script src="/scripts/schedule.js"></script>