<div class="SSScont">
    <div class="bas">Sıkça Sorulan Sorular</div>
    
    <div class="soru-cevap-group">
        <div class="soru">
            <div class="num">1</div>
            <p>Soru bir burada yazıyor.</p>
        </div>
        <div class="cevap">Cevap da burada.</div>
    </div>
    
    <div class="soru-cevap-group">
        <div class="soru">
            <div class="num">2</div>
            <p>İkinci soru burada yer alıyor.</p>
        </div>
        <div class="cevap">Bu da ikinci cevaptır.</div>
    </div>
</div>