@font-face {
font-family: 'lato'; /* piksel ??? tasuki çalıntı*/
src: url('/fonts/Lato-Regular.ttf'); 
}
body{font-family: 'lato',sans-serif;}
.mt-5{width: 80%;padding-left: 20px;padding-right: 20px; margin-top: 50px;max-width: 900px;
  justify-self: center;background-color:white; }
.mb-4{text-align: center; }
.mb-3{margin-bottom: 5px;margin-top: 10px;margin-bottom: 10px;
    height: 50px;padding-top: 5px;padding-left: 10px;width: 50%;}
.mb-3 input{float: left; width: 90%;justify-self:center ; width: 100%;}
input[type="file"] {
    color: transparent; 
}

input[type="file"]::file-selector-button {
    color: #333;
}
#downbarContainer{display: grid;
    gap: 20px; grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 20px;}
.inpR{margin-top: 8px;}
.fotoinp{background-color: #fff;box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.1);display: flex;
  flex-direction: row;gap: 8px;width: 100%;height: 50px;padding-top: 5px;}
.fotoinp .simg{margin-left: 20px;height: 40px;margin-right: 10px;}
.fotoinp .r{border-radius: 5px;height: 40px; width: 40px; object-fit: cover;}
#aciklama{height: 200px;}
#aciklama-alt{width: 100%; height: 180px; border:1px solid #dedddd ;resize: none;}
textarea:focus {
  border: 1px solid #ccc;
  box-shadow: none;       
}
#h2{justify-self: center;margin-top: 20px; margin-top: 20px;}
input:focus{outline: none;
  border-color: 1px solid #ADD8E6;
  box-shadow: none;}
textarea:focus {
  outline: none;
  border-color: 1px solid #ADD8E6;
  box-shadow: none;
}
.temel{display: flex;flex-direction: column;gap: 10px;height: auto;width:100%;}
.yarim{display: flex;flex-direction: row;gap: 10px;width:100%;}
.downbar {
  border: 1px solid #e7e7e7;  margin-top: 10px;
  margin-bottom: 5px;width:98%;max-width: 250px;
  border-radius: 5px;margin-left: 2%;
  overflow: hidden;
}
.arrow {float: right;color: #282828;
  transition: transform 0.3s ease;
}

.arrow.open { float: right;color: #282828;
  transform: rotate(180deg);
}
.downbar-header {
  background: #f9f9f9;
  padding: 10px; width: 100%;
  cursor: pointer;
  font-weight: bold;
}

.downbar-content {
  display: none;display: none;
  padding: 10px; max-height: 130px;overflow-y: scroll;
  background: white;
}
.check{width: 100%;display: flex;flex-direction: row;}
.downbar-content label {
    margin-bottom: 5px;
    display: flex; 
    align-items: center;
    gap: 5px; 
    line-height: 1; 
    padding-top: 2px;
}
.btn{height: 50px;text-align: center;justify-content: center;width: 150px;border-radius: 7px;
font-size: 18px;color: white;font-family: sans-serif;background-color: #249AF3; 
border: 0;margin-left: 80px;margin-bottom: 60px;margin-top: 40px;}
input[type="radio"] {
  appearance: none; 
  -webkit-appearance: none; 
  -moz-appearance: none; 
  width: 18px;
  height: 18px;
  float: left;
  border: 2px solid #555;
  border-radius: 3px; 
  background-color: white;
  cursor: pointer;
  position: relative;
}
input[type="radio"]:checked {
  background-color: #007bff;
}

input[type="radio"]:checked::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 7px;
  height: 7px;
  background: white;
}

form label {
  margin-bottom: 4px;   
  font-weight: 600;    
  font-size: 14px;
}
.number-wrapper{margin-bottom: 20px;}
form input[type="text"],
form input[type="number"],
form input[type="email"],
form input[type="password"] {
  width: 100%;         
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
@media(max-width: 850px) {
  .h2{margin-left: 20px;}
  .mt-5{width: 90%;}
  .yarim{flex-direction: column;}
  .mb-3{width: 100%;}
}
@media(max-width: 750px) {
   .mt-5{width: 95%;}
}
@media(max-width: 500px) {

   #downbarContainer {
        grid-template-columns: 1fr; 
        justify-items: center;
    }
    .downbar{width: 230px;}
}
@media (min-width:500px) and (max-width: 700px){
    #downbarContainer {
        grid-template-columns: 1fr 1fr; /* 2 Sütun olsun */
    }

    
    #downbarContainer > div:last-child:nth-child(odd) {
        grid-column: 1 / -1; 
        width: calc(90% - 10px); 
        margin: 0 auto; 
    }
}