.buttons button{position: absolute; bottom: 20px; right: 40px; 
              color: white; padding: 10px 20px; font-size: 16px; background-color: #007bff; border: none; border-radius: 5px; cursor: pointer;}
