* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{margin: 0; padding: 0px;   background-size: cover; padding-top: 130px;}

@font-face {
font-family: 'lato'; /* piksel ??? tasuki çalıntı*/
src: url('/fonts/Lato-Regular.ttf'); 
}

@keyframes sagaSol {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.navbar{
     
        background-size: 100% auto;
        color: #000;
        transition: transform 0.3s ease-in-out;
         }
.nav-top {
  height: 80px;
  width: 100%;
  background: #334150;
  display: flex; /* Flexbox'ı etkinleştir */
   
}
.navbar-hidden {
    transform: translateY(-100%); 
}
header {
  position: fixed; /* Sayfada sabit durması için */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Diğer içeriklerin üstünde kalması için */
  background-color: #fff; /* Arka plan rengi (Şeffaf olmaması için önemli) */
  transition: transform 0.3s ease-in-out; /* Hareketin yumuşak olması için */
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Hafif bir gölge güzel durur */
}

/* Bu sınıf JS ile eklendiğinde menü yukarı saklanacak */
header.nav-hidden {
  transform: translateY(-100%); /* Kendi yüksekliği kadar yukarı iter */
}
.nav-bottom{ height: 52px;width: 100%; 
  background-color: #2B3541;border-top: 1px solid #435061;}
#logo {
  height: 45px;
  width: 192px;
}
.nav-el-top {
  text-decoration: none;
  height: auto;
  width: auto;
  color: white;
  margin-left: 10px;
  list-style: none;
  font-size: 25px;
  font-weight: bolder;
  font-family: sans-serif;
  flex-shrink: 0; /* Küçülmesini engelle */
}
.nav-el-bottom{float: left; text-decoration: none; height: auto; width: auto;color: white;
     list-style: none;font-family: 'lato' , sans-serif;font-size: 16px;display: flex;
    justify-content: center;
    align-items: center;      
    font-weight: normal;
}
.a{text-decoration: none;color: #000;}
.d{text-decoration: none;color: #d4d5dd;font-weight:300;margin-top: 10px;}
.link{height:50px;width: auto; float: left;margin-left: 20px;}

.sol .dropdown{height: 100%;  padding:13px 10px;float: left;
      cursor: pointer;position: relative; margin: 0%;
      display:inline-block; border-right:1px solid #435061 ;}
.sag .dropdown{height: 100%;  padding:13px 10px;float: right;
      cursor: pointer;position: relative; margin: 0%;
      display:inline-block; border-left:1px solid #435061 ;}
.top-right{  float: right; width: 220px;height: 70px;}
.profilediv{float: right;}
.name{float: left;margin-right: 10px; border-radius: 19px; background-color: #2B3541; padding: 10px; margin-top: 26px; font-family: 'lato',sans-serif;font-size: 18px;color: white;}
.profilePic{height: 50px;width: 50px;border-radius: 5px;margin-right: 20px;margin-top: 20px;}
    .content{ clear: left;
    height: auto;margin-top: 0;
    min-height: 500px;width: 100%;
    border-radius: 10px;
    float: left;
}
.nav-bottom #dropdownTogglehow{ width: 152px;display: flex;flex-direction: row;}
.text{float: left;}
.nav-bottom #dropdownToggleDays{width: 120px;display: flex;flex-direction: row;}
.cizik{margin: 5px 0; border-color: #444;}
.nav-bottom #dropdownToggleContact{width: 120px;display: flex;flex-direction: row; }
.f{border-right:1px solid #435061 ;}
#ppfoto{height: 18px; float: left; margin-right: 10px;}


.bottom-pasif .ddb{display: flex;flex-direction: row; }

.nav-bottom.sol{float: left;height: 50px;}
.nav-bottom.sag{float: right;  height: 50px;margin-right: 30px;}

.bottom-pasif.sag,.bottom-pasif.sol{
clear: both;position: fixed;display: block;border-left: none;
}
.bottom-pasif .dropdown-content {
    width: 100%;border-radius: 0px;
    position: absolute;      
    box-shadow: none;       
}
.bottom-pasif .dropdown-content a{
   padding-left: 30px;margin-bottom: 5px;margin-top: 5px;
}
.bottom-pasif .navSemL{float: right;}
.bottom-pasif .ddtxt{width: 200px;}
.bottom-pasif .dropdown{padding: 0;width: 100% !important;  border-right:none;}
.bottom-pasif .bottom-right{border: none;}
.bottom-pasif .nav-el-bottom{font-size: 16px;font-weight: 600;height: 60px;margin-left: 30px;}
.bottom-pasif .fd{border-bottom:1px solid #435061 ;height: 60px;}
#searchInput{
    width: 80%;height: 42px;float: left;margin-left: 10px;margin-top: 10px; border-radius: 21px;
    padding: 0px 20px;
}
.search{height: 30px;float: left;margin-left: 5px; 
    font-size: 30px;margin-top: 10px; }
.search-box {position: relative;
  color: #000;
  height: 70px;
  border: none;
  flex-grow: 1; /* Kalan boş alanı doldurur */
  display: flex;
  align-items: center;
  margin: 0 10px; 
}
.baslik-left{margin: 0; color: #3f4566; font-size: 30px; padding-top:15px;padding-bottom: 0px; text-align: center;}

.search-box .results-box{ position: absolute; font-size: medium;font-family: 'lato',sans-serif;
    background-color:#141f32c5;width: 400px;height: auto;z-index: 9999;
  top: 65px;left: 30px;}

.navSemL{height: 20px;width: 20px;align-items: center;margin-right:5px ;
    justify-content: center; float: right;}
.logo{margin-right: 17px;margin-left: 50px; margin-right: 50px;
margin-top: 20px;height: 45px;width: 192px; }

 .dropdown-content {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      background-color: #1c2431;
      min-width: 150px;
      border-radius: 5px;
      box-shadow: 0 8px 16px rgba(0,0,0,0.2);
      z-index: 9999;
    }

    .dropdown-content a {
      color: white;
      padding: 10px 16px;height: 36px;
      text-decoration: none;
      display: block;
    }

    .dropdown-content a:hover {
      background-color: #2e3a4d;
    }

    .show {
      display: block;
    }
.has-submenu {
  position: relative;
}

.submenu {
  display: none;
  position: absolute;
  top: 0;
  left: 100%; /* sağda açılması için */
  background-color:  rgba(0, 0, 0, 0.5);
  
  min-width: 180px;
  z-index: 1000;
}

.has-submenu:hover .submenu {
  display: block;
}
.nav-aktif{height: auto; width:100% ;}
.nav-pasif{height: 100vh;width: 100vw;}
.content-pasif{display: none;}
.bottom-pasif{position: absolute; display: flex;flex-direction: column;
z-index: 3131;background-color: #2B3541;height: 100%;width: 100%;}
#hamburg{width: 50px;height: 50px;background-color: #7F8FA4;float: right;}
.dropdown-content a,
.submenu a {
  display: block;
  padding: 8px 12px;
  text-decoration: none;
}
@media (min-width: 1301px){
  
}
@media (min-width: 1201px) and (max-width: 1300px){
   .name{display: none; }
  .top-right{width: 70px;}
}
@media (min-width: 851px) and (max-width: 1200px) {
 
  .name{display: none; width: 0%;}
  .top-right{width: 70px;}
}
@media(min-width: 850px){
    #hamburg{display: none;}
  .top-right{display:block ;}
}
@media(max-width: 850px) {
  #logo{height: 41px;width: 162px;}
  body{padding-top: 80px;}
  #hamburg{display: block;}
  .top-right{display: none;}

.sol,.sag{display: flex;flex-direction: column;}
.nav-bottom{display: none;}

}
@media(min-width: 580px) and (max-width: 850px) {
.name{display: none; width: 0%;}
.top-right{width: 70px;}
}
@media(max-width: 580px) {
  #logo{height: 38px;width: 142px;}
.name{display: none; width: 0%;}
.top-right{width: 70px;}
}
@media(max-width: 300px) {
  #logo{height: 35px;width: 122px;}
.name{display: none; width: 0%;}
}
@media (max-width: 768px) { 
      body{padding-top: 150px;}
    /* 1. Kapsayıcıya satır atlama izni ver */
    .nav-top {
        flex-wrap: wrap; height: 150px;
        justify-content: space-between; 
        padding-bottom: 10px; 
    }

    .nav-el-top.logo {
        order: 1; 
    }
.search{margin-top: 0px;}
    #hamburg {
        order: 2; 
    }
    .search-box {
        order: 3;          
        width: 98%;       
        margin-top: 15px;   
        margin-left: 0;     
        display: flex;     
        justify-content: center;
    }
    #searchInput {
        width: 100%;        
        margin: 0;        
    }
}
