
#changeForm{margin-top: 50px;}
form label {
  display: block;       /* Üstte olacak şekilde tam satır kapla */
  margin-bottom: 4px;   /* Label ile input arası boşluk */
  font-weight: 600;     /* İsteğe bağlı: yazıyı kalın yap */
  font-size: 14px;
}

form input[type="text"],
form input[type="number"],
form input[type="email"],
form input[type="password"] {
  width: 100%;          /* Formun genişliğine uyar */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.btn{padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;}